In [1]:
#create a dataframe with 3 cols 

import pandas as pd


data={'Name':['nit', 'nit','nit', 'ma', 'ma','ma'], 
               'Date':['1/01/2022','2/01/2022','3/01/2022','4/01/2022','5/01/2022','6/01/2022'], 
               'InsuranceBought':['life','life','motor','life','health','life']}

In [2]:
aa = pd.DataFrame(data)

In [3]:
aa

  Name       Date InsuranceBought
0  nit  1/01/2022            life
1  nit  2/01/2022            life
2  nit  3/01/2022           motor
3   ma  4/01/2022            life
4   ma  5/01/2022          health
5   ma  6/01/2022            life

In [ ]:
#Dictionary:
#1. Used to store key value pairs
#2. A dictionary is a collection which is ordered*, changeable and do not allow duplicates
#3. Written with curly brackets

In [ ]:
dictionary = {'Nitin':100, 'Mani':100}